.actions {
    display: grid;
    grid-template-columns: 1fr 5.5rem;
    grid-template-rows: auto auto 1fr;
    gap: 1.2rem;
    overflow: auto;
    box-sizing: border-box;
    grid-template-areas: 'variants navigation' 'search navigation' 'description navigation';
    overflow: hidden;
}