.description {
    grid-area: description;
    background-color: #51ae5f;
    padding: .5rem;
    font-family: monospace;
    color: var(--black);
    block-size: 7rem;
    overflow: auto;
    border-radius: .5rem;
    border: 2px solid var(--black);
    box-sizing: border-box;
}

.description::-webkit-scrollbar{
    display: none;
}

.description p {
    margin: 0;
}