.variants {
    grid-area: variants;
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: 10.5rem;
    block-size: 3.65rem;
    box-sizing: border-box;
}

.sub-buttons-container {
    display: flex;
    inline-size: 5.25rem;
    justify-content: space-between;
}

.variant-button {
    background-color: #FECB2F;
    inline-size: 1.87rem;
    block-size: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 0px 6px 1px black;
}

.variant-button.is-blue {
    background-color: var(--secondary);
}

.bigger {
    block-size: 3.25rem;
    inline-size: 3.25rem;
    border-radius: 50%;
    background-color: var(--secondary);
    cursor: pointer;
    box-shadow: 2px 0px 6px 1px black;
}

.bigger:active {
    transform: scale(0.9);
}